@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.update-user-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
}

.input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    color: #333;
    border-bottom: 1px solid #ccc;
    transition: border-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

.input:hover {
    border-color: #666;
}

.changeButton,
.submitButton,
.saveButton {
    padding: 8px 16px;
    background-color: #f0f0f0;
    color: #333;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

.changeButton:hover,
.submitButton:hover,
.saveButton:hover {
    background-color: #ccc;
}

.dropdown {
    position: absolute;
    z-index: 999;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.dropdown div {
    padding: 8px;
    cursor: pointer;
    color: #333;
}

.dropdown div:hover {
    background-color: #ccc;
}

.errorMessage {
    color: #dc3545;
    margin-top: 5px;
    font-size: 12px;
}
