@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.password-form {
    height: 150px;
    background-color: #f0f0f0; /* светлый фон */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    color: #333; /* темный цвет текста */
    font-family: 'Montserrat', sans-serif; /* шрифт Montserrat */
}

.error-message {
    color: #dc3545; /* красный цвет текста ошибки */
    margin-bottom: 10px;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc; /* светлая граница */
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff; /* белый фон для инпутов */
    color: #333; /* темный цвет текста */
    font-family: 'Montserrat', sans-serif;
}

.form-button {
    padding: 10px;
    background-color: #fff; /* белый фон кнопки */
    color: #333; /* темный цвет текста */
    border: none; /* убираем границу */
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* добавляем тень */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* добавляем плавный переход */
    font-family: 'Montserrat', sans-serif; /* шрифт Montserrat */
}

.form-button:hover {
    background-color: #f0f0f0; /* светлее при наведении */
    color: #222; /* темнее текст при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* увеличиваем тень при наведении */
}
