@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.password-form {
    height: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 0 auto;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.error-message {
    color: #dc3545;
    margin-bottom: 10px;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.form-button {
    padding: 10px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

.form-button:hover {
    background-color: #f0f0f0;
    color: #222;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
