@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.carForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0; /* светло-серый фон */
    color: #333; /* темно-серый текст */
    font-family: 'Montserrat', sans-serif; /* шрифт Montserrat */
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative; /* чтобы абсолютно позиционировать кнопку */
}

.input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: none; /* убираем стандартную границу */
    background-color: transparent; /* прозрачный фон */
    color: #333; /* темно-серый текст */
    border-bottom: 1px solid #ccc; /* светло-серая линия снизу */
    transition: border-color 0.3s ease; /* плавное изменение цвета линии */
    font-family: 'Montserrat', sans-serif; /* шрифт Montserrat */
}

.input:hover {
    border-color: #666; /* серая линия при наведении */
}

.changeButton,
.submitButton,
.saveButton {
    padding: 8px 16px; /* уменьшенные отступы */
    background-color: #f0f0f0; /* светло-серый фон */
    color: #333;
    border: none; /* убираем обводку */
    border-radius: 4px; /* закругленные углы */
    font-size: 14px; /* уменьшенный размер шрифта */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* тень */
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif; /* шрифт Montserrat */
}

.changeButton:hover,
.submitButton:hover,
.saveButton:hover {
    background-color: #ccc; /* светло-серый фон при наведении */
}

